/*
 * Changing colors
 */

$primary-color: color("grey", "darken-3");
$secondary-color: color("grey", "darken-3");
$card-bg-color: color("grey", "lighten-3");
$link-color: color("grey", "darken-3");
$roboto-font-path: "~materialize-css/fonts/roboto/";